{% extends "base.html" %}
{% load thumbnail %}


{% block content %}
<div class="container-fluid">
    <div class="row">
		<div class="col-md-12">
			<h3 class="text-center text-info">
                Группа {{ group.title }}
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
            {% for student in object_list %}
			<div class="media well">
				<a href="{{ student.get_absolute_url }}" class="pull-left">
                    {% thumbnail student.photo "120x120" crop='center' as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-thumbnail" />
                    {% endthumbnail %}
                </a>
				<div class="media-body">
					<h4 class="media-heading">
                        <a href="{{ student.get_absolute_url }}" class="pull-left">
						{{ student.last_name }} {{ student.first_name }} {{ student.patronymic }}
                        </a>
					</h4></br>
                    <p>№ студ. билета: {{ student.students_ticket_number }}</p>
                    <p>Дата рождения: {{ student.birth_day|date:"d.m.Y" }}</p>
					<div class="media">
						<div class="media-body">
						</div>
					</div>
				</div>
			</div>
            {% endfor %}
            {% comment %}<div class="pagination">
                <div class="pages">
                    <span>Страницы:</span>
                    {% for page in page_obj.pages %}
                        {% if page %}
                            {% ifequal page page_obj.number %}
                                <span class="current page">{{ page }}</span>
                            {% else %}
                                <span><a href="?{{ page.querystring }}" class="page">{{ page }}</a></span>
                            {% endifequal %}
                        {% else %}
                            <span>...</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="controls">
                    {% if page_obj.has_previous %}
                        <span><a href="?{{ page_obj.previous_page_number.querystring }}" class="prev">&larr;предыдущая</a></span>
                    {% else %}
                        <span>первая</span>
                    {% endif %}
                    &nbsp;|&nbsp;
                    {% if page_obj.has_next %}
                        <span><a href="?{{ page_obj.next_page_number.querystring }}" class="next">следующая &rarr;</a></span>
                    {% else %}
                        <span>последняя</span>
                    {% endif %}
                </div>
                <div class="cleared"></div>
            </div>{% endcomment %}
            {% include "paginate.html" %}
            <div class="col-md-4">
                <table class="table">
                    <thead>
                        <tr>
                            <td>
                                <a href="/edit_group/{{ group.id }}"><button type="button" class="btn btn-success">Редактировать группу</button></a>
                            </td>
                            <td>
                                <a href="/delete_group/{{ group.id }}"><button type="button" class="btn btn-danger">Удалить группу</button></a>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
		</div>
	</div>
</div>
{% endblock %}